{% extends 'event/base.html' %}
{% block title %}Add a New Text Question{% endblock %}

{% block body %}
<div class="container-fluid">
            <div>
                <a href="{% url 'event:detail' event.id %}" class="btn btn-primary" role="button">Back to {{ event.event_name }}</a>
            </div>
            <br>

    <div class="panel panel-defult">
        <div class="panel heading">
            {% if usage is 1 %}
            <div class="container-fluid">
                <h3>Edit Text Question "{{ question.question }}" for event "{{ event.event_name }}"</h3>
            </div>
            {% else %}
            <div class="container-fluid">
                <h3>Add a new Text Question for event "{{ event.event_name }}"</h3>
            </div>
            {% endif %}
        </div>
        <div class="panel-body">

            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.question.errors }}</span>
                </div>
                    <label class="control-label col-sm-2">{{ form.question.label_tag }}</label>
                <div class="col-sm-10">{{ form.question }}</div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <br>
                        <br>
                        <button type="submit" class="btn btn-success">Save Question</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}